@import '@fontsource/poppins';

* {
	position: relative;
	box-sizing: border-box;
}

:root {
	--bg-1: #fff;
	--bg-2: #eee;
	--bg-3: #999;
	--card-border: #222;
	--card-border-found: #777;
	--accent: #744eaa;
	--accent-2: #555;
}

html,
body {
	height: 100%;
	margin: 0;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	background: var(--bg-1);
	color: var(--fg);
}
